<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Servlet_program</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servletclass</display-name>
    <servlet-name>servletclass</servlet-name>
    <servlet-class>servlet.servletclass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletclass</servlet-name>
    <url-pattern>/servletclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertData</display-name>
    <servlet-name>InsertData</servlet-name>
    <servlet-class>servlet.InsertData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertData</servlet-name>
    <url-pattern>/InsertData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DispData</display-name>
    <servlet-name>DispData</servlet-name>
    <servlet-class>servlet.DispData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispData</servlet-name>
    <url-pattern>/DispData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterMarksServlet</display-name>
    <servlet-name>EnterMarksServlet</servlet-name>
    <servlet-class>servlet.EnterMarksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterMarksServlet</servlet-name>
    <url-pattern>/EnterMarksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyLoginServlet</display-name>
    <servlet-name>FacultyLoginServlet</servlet-name>
    <servlet-class>servlet.FacultyLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyLoginServlet</servlet-name>
    <url-pattern>/FacultyLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterAttendaceServlet</display-name>
    <servlet-name>EnterAttendaceServlet</servlet-name>
    <servlet-class>servlet.EnterAttendaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterAttendaceServlet</servlet-name>
    <url-pattern>/EnterAttendaceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterAttendanceServlet</display-name>
    <servlet-name>EnterAttendanceServlet</servlet-name>
    <servlet-class>servlet.EnterAttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterAttendanceServlet</servlet-name>
    <url-pattern>/EnterAttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIndexServlet</display-name>
    <servlet-name>AdminIndexServlet</servlet-name>
    <servlet-class>servlet.AdminIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexServlet</servlet-name>
    <url-pattern>/AdminIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet1</display-name>
    <servlet-name>AddStudentServlet1</servlet-name>
    <servlet-class>servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet1</servlet-name>
    <url-pattern>/AddStudentServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFacultyServlet</display-name>
    <servlet-name>AddFacultyServlet</servlet-name>
    <servlet-class>servlet.AddFacultyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFacultyServlet</servlet-name>
    <url-pattern>/AddFacultyServlet</url-pattern>
  </servlet-mapping>
</web-app>